body{
    margin: 0 auto;
   
    box-sizing: border-box;
}

header {
    display:flex;
    justify-content: space-between;
    overflow:hidden;
}
.text h3 {
    margin-top:40px;
    margin-right:50px;
}
header img {
    width: 160px;
    height:auto;
}


nav {
    display:flex;
    justify-content: flex-end;
    background-color: 	lightgray;
    
}


.facebook img {
    width:40px;
    height:auto;
    background-color:lightblue;
    margin-top:25px;
}
nav ul {
    padding:20px;
    
}
nav  li {
display:inline;
margin-right:20px;
}

.main {
    width:80%;
    margin:0 auto;
    display:flex;
     margin-top:60px;
    
    border: 5px solid violet;
    
    
}
.image-content {
    width:50%;
    
}
.image-content img {
    width:100%;
    height: auto;
    margin:0px;
    
}

.box1 {

    width:50%;
    
    
}
.box1 h3 {
    background-color:violet;
    margin:0px;
    padding:30px;
}
.box1 {
   border-left: 5px solid violet;
}
.box1 p {
   padding:30px;
}
.content2 {
    width:80%;
    margin:0 auto;
    margin-top:60px;
    display:flex;
    justify-content:space-between;
}
.prv {
    width:20%;
    height:220px;
    border: 3px solid violet;


}
.prv h3 {
    margin:0px;
    padding:15px;
    background-color: violet;
    text-align:center;


}
.prv p {
    font-size:14px;
    padding:4px;
}
.vtor {
    width:20%;
    height:220;
    border: 3px solid violet; 
    position:relative;

}
.vtor img {
    width:100%;
    height:100%;
    object-fit: cover;
    
}
.tret {
    width:20%;
    height:220px;
    border: 3px solid violet;
}

.tret h3 {
    margin:0px;
    padding:15px;
    background-color: violet;
    text-align:center;
}
.tret p {
    
        font-size:14px;
        padding:4px;
}
.cetvrt {
    width:20%;
    height:220px;
    border: 3px solid violet;  
    position:relative;
}

.cetvrt img {
    width:100%;
    height:100%;
    object-fit: cover;
    
}
    
.tekst1{
    position: absolute;
    background-color:lightblue;
    width:100%;
    height:20%;
    bottom:0px;
    
}
.tekst2{
    position: absolute;
    width:100%;
    height:20%;
    background-color:lightblue;
    bottom:0px;
    
}