body {
    padding:0px;
    margin:0px;
    box-sizing: border-box;
    font-family: 'lato';
}
.main-container {
    width:100%;
   
    
}
.container-30 {
    width:20%;
    position:fixed;
    background-color:rgb(63, 60, 66);
    height: 100vh;
    text-align:center;
   
}
.container-70 {
    width:80%;
    margin-left:20%;
    
}
.slika {
    padding-top:30px;
}
.menu  {
    list-style-type: none;
    font-size:20px;
    color:white;
    margin:0px;
    padding:0px;
    padding-top:40px;
    
    
}
.menu li {
    padding:10px;
    cursor:pointer;
}
.menu li:hover {
    color:yellow;
    background-color:rgb(234, 236, 239);
}
.drop {
    position:relative;
}

.dropdown {
    position:absolute;
    color:white;
    left:100%;
    top:-3px;
    background-color:rgb(80, 95, 119);
    overflow:visible;
    list-style-type: none;
    display:none;
    padding:0px;
}
.drop:hover .dropdown {
    display:block;
    background-color:rgb(234, 236, 239);
    color:black;
    

    
}

label {
    display:none;
}
.back-image {
    background-image: url("02.jpg") ;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:500px;
    width:100%;
  
   
}
.mapa {
    padding-top:10px;
    padding-left:10px;
    padding-right:10px;
}
.tekst {
    color:white;
    position: absolute;
    background-color:rgba(255, 255, 255, 0.2);
    padding-right:20px; 
    width:40%;
    text-align:end;
    right:0;
    bottom:120px;

}
.text2 {
    padding-bottom:20px;
}
.centar {
    text-align:center;
    background-color: rgb(234, 236, 239);
    
    padding-top:40px;

}
.box-50:hover img  {
    transform:scale(0.5);
    transform: 0.10s;
}
.first:hover img {
    transform:scale(1.1);
    transition:0.5s;
}
.wrapper {
    text-align:center;
    margin-bottom:55px;
}
.main {
    width:80%;
    margin:0 auto;
    display:flex;
    justify-content: space-around;
    margin-bottom:40px;
}
.main2  {
    width:24%;
    margin:0 auto;
    border:1px solid gray;
    position:relative;
    padding-top:30px;
}
.tabela {
    width:95%;
    margin:0 auto;
    display:Flex;
    justify-content: space-between;
    border-bottom:1px solid gray; 
    flex-wrap:wrap;
}
.gore {
    position:absolute;
    top: -16px;
    left: 30%;
    background-color:white;
}
.gore h2 {
    margin:0px;
    margin-left:10px;
    margin-right:10px;
}
.linija {
    width:100%;
    text-align:center;
    padding:20px 0px 20px 0px
}
.linija1 {
    padding-left:20px;
}
#desno {
    text-align:end;
    padding-right:20px;
}
.wrapper-2 {
    display:flex;
}
.first {
    overflow: hidden;
}
.first img {
width:100%;
height:250px;
object-fit: cover;
}
.box-50 {
    width:50%;
    
}
.box-50 img{
    width:100%;
    padding:0px;
    height:250px;
    object-fit: cover;
}
#boja  {
    color:gray;
}
.reservation {
    width:60%;
    margin:0 auto;
    padding-bottom: 40px;
}
 form input {
    width:40%;
    padding:5px;
    margin:2px;
}
.form-input {
    width:85%;
    overflow:hidden;
}
.btn {
    width:86%;
    background-color:rgb(242, 211, 118);
    padding:10px;
}
@media screen and (max-width: 768px){
.container-30 {
    width:100%;
    height:12vh;
    text-align:end;
    position:relative;
    z-index:999;
    
}
.menu {
   
    position: absolute;
    flex-direction: row;
    justify-content: flex-end;
    background-color:rgb(63, 60, 66);
    width:100%;
    display:none;

}

    

.navbar:hover .menu {
    display:block;
}
.mapa {
    display:none;
}

.dropdown {
    display:none;
}
label {
    display: block;
    cursor: pointer;
    color: white;
    font-size:30px;
    padding-top:20px;
    position:relative;
    
}
.slika {
    position:absolute;
    width:100px;
    height:80px;
    left:10px;
}
.slika img{
   width:100%;
   object-fit: cover;
}
.container-70 {
    width:100%;
    margin:0px;
}
.main {
    width:90%;
    flex-wrap:wrap;

}
.main2 {
    width:45%;
    margin-bottom:40px;
}
}
